
{include file="top.tpl"}

<div class="page_box">
	<div class="container">
		<div class="text-center">
			<h2>{$article.name}</h2>
			<p class="text-muted small">{'Published'|lang}: {$article.date|date_format:"%d-%m-%Y"}</p>
			<p><a href="{$links.articles}" title="{'Return to the list of articles'|lang}">{'Return to the list of articles'|lang}</a></p>
		</div>
		<br><br>
		{$article.content}
		<br><br>
		{if $settings.social_facebook}
			<div class="social_inline_block">
				<div class="fb-like" data-href="{$settings.base_url}/{$links.article}/{$article.id},{$article.name_url}" data-layout="button" data-action="like" data-show-faces="true" data-share="true"></div>		
			</div>
		{/if}
		{if $settings.social_twitter}
			<div class="social_inline_block">
				<a href="https://twitter.com/share" class="twitter-share-button" data-url="{$settings.base_url}/{$links.article}/{$article.id},{$article.name_url}" data-lang="{$settings.lang}">Tweet</a>
				{literal}
					<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
				{/literal}
			</div>
		{/if}
		{if $settings.social_wykop}
			<div class="social_inline_block">
				<script>
					var wykop_url=location.href;
					var wykop_title=encodeURIComponent(document.title);	
					var wykop_desc=encodeURIComponent('{$settings.description}');
					var widget_bg='FFFFFF';
					var widget_type='compact2';
					var widget_bold=true;
					var widget_url='https://www.wykop.pl/dataprovider/diggerwidget/?url='+encodeURIComponent(wykop_url)+'&title='+(wykop_title)+'&desc='+(wykop_desc)+'&bg='+(widget_bg)+'&type='+(widget_type)+'&bold='+(widget_bold);
					document.write('<div><iframe src="'+widget_url+'" style="border:none;width:100px;height:20px;overflow:hidden;margin:0;padding:0;" frameborder="0" border="0"></iframe></div>');
				</script>
			</div>
		{/if}
		{if $settings.social_pinterest}
			<div class="social_inline_block">
				<a href="//www.pinterest.com/pin/create/button/?url={$settings.base_url}/{$links.article}/{$article.id},{$article.name_url}" data-pin-do="buttonPin" data-pin-config="beside"><img src="//assets.pinterest.com/images/pidgets/pinit_fg_en_rect_gray_20.png" /></a>
				<script async src="//assets.pinterest.com/js/pinit.js"></script>
			</div>
		{/if}
	</div>
</div>

{include file="footer.tpl"}

