	
	<div class="dialog" id="add" data-title="{'Add kind'|lang}">
		<form method="post" action="">
			<input type="hidden" name="action" value="add_kind">
			<input type="text" name="name" required maxlength="64" placeholder="{'The name'|lang}" title="{'The name'|lang}">
			<input type="reset"/>
			<input type="submit"/>
		</form>
	</div>
	
	<div class="center">
		<h1>{'Kinds'|lang}</h1>
		<p>{'Here you can edit the kinds of offers'|lang}</p>
		<br>
		<p><a href="#add" title="{'Add kind'|lang}" class="submit open_dialog">{'Add kind'|lang}</a></p>
		<br>
		{if isset($offers_kind)}
		<table class="table">
			<tr>
				<td colspan="4">{'Kinds'|lang}</td>
			</tr>
			<tr>
				<td></td>
				<td>{'The name'|lang}</td>
				<td class="center">{'Edit'|lang}</td>
				<td class="center">{'Remove'|lang}</td>
			</tr>
				
			{foreach key=key item=item from=$offers_kind name=offers_kind}
				<tr>
					<td>{$smarty.foreach.offers_kind.iteration}</td>
					<td><b>{$item.name}</b></td>
					<td class="center"><a href="#edit_{$key}" title="{'Edit'|lang}" class="icon icon_edit open_dialog"></a></td>		
					<td class="center"><a href="#remove_{$key}" title="{'Remove'|lang}" class="icon icon_remove open_dialog"></a></td>			 				
				</tr>
				
				<div class="dialog" id="edit_{$key}" data-title="{'Edit'|lang}: {$item.name}">
					<form method="post" action="">
						<input type="hidden" name="action" value="edit_kind">
						<input type="hidden" name="id" value="{$key}">
						<input type="text" name="name" required maxlength="64" placeholder="{'The name'|lang}" title="{'The name'|lang}" value="{$item.name}">
						<input type="reset"/>
						<input type="submit"/>
					</form>
				</div>
				
				<div class="dialog" id="remove_{$key}" data-title="{'Remove kind'|lang}: {$item.name}">
					<p>{'Are you sure you want to remove a kind'|lang}: "{$item.name}"?</p>
					<form method="post" action="">
						<input type="hidden" name="action" value="remove_kind">
						<input type="hidden" name="id" value="{$key}">
						<input type="reset"/>
						<input type="submit"/>
					</form>
				</div>
			{/foreach}		
		</table>
		{else}
		<h2>{'Nothing found'|lang}</h2>
		{/if}
		
	</div>
	

