		
	<div class="center">
		<h1>{'Reset password'|lang}</h1>
		<p>{'Here you can see logs reset password'|lang}</p>
		<br><br>
		{if isset($reset_password)}
			<table class="table">
				<tr>
					<td colspan="10">{'Reset password'|lang}</td>
				</tr>
				<tr>
					<td></td>
					<td>{'User'|lang}</td>
					<td>{'Used'|lang}
						<a href="?{$pagination.page_url.sort_cms}&sort=used" title="{'Sort by used'|lang}" class="icon sort_up"></a><a href="?{$pagination.page_url.sort_cms}&sort=used&sort_desc" title="{'Sort descending by used'|lang}" class="icon sort_down"></a>
					</td>
					<td>{'Active'|lang}
						<a href="?{$pagination.page_url.sort_cms}&sort=active" title="{'Sort by active'|lang}" class="icon sort_up"></a><a href="?{$pagination.page_url.sort_cms}&sort=active&sort_desc" title="{'Sort descending by active'|lang}" class="icon sort_down"></a>
					</td>
					<td>{'Code'|lang}
						<a href="?{$pagination.page_url.sort_cms}&sort=code" title="{'Sort by code'|lang}" class="icon sort_up"></a><a href="?{$pagination.page_url.sort_cms}&sort=code&sort_desc" title="{'Sort descending by code'|lang}" class="icon sort_down"></a>
					</td>
					<td>{'Date'|lang}
						<a href="?{$pagination.page_url.sort_cms}&sort=date" title="{'Sort by date'|lang}" class="icon sort_up"></a><a href="?{$pagination.page_url.sort_cms}&sort=date&sort_desc" title="{'Sort descending by date'|lang}" class="icon sort_down"></a>
					</td>
				</tr>
				{foreach key=key item=item from=$reset_password name=reset_password}
					<tr>
						<td class="center">{$smarty.foreach.reset_password.iteration+$pagination.limit_start}</td>
						<td><a href="../{$links.profile}/{$item.user.username}" title="{'Profile of'|lang}: {$item.user.username}" target="_blank">{$item.user.username}</a> - {if $_CMS_TEST_MODE_}TEST{else}<a href="mailto:{$item.user.email}" title="{'Write to:'|lang} {$item.user.email}">{$item.user.email}</a>{/if}</td>
						<td class="center">{if $item.used}<b>{'YES'|lang}</b>{else}{'NO'|lang}{/if}</td>
						<td class="center">{if $item.active}<b>{'YES'|lang}</b>{else}{'NO'|lang}{/if}</td>
						<td>{$item.code}</td>
						<td class="center"><b>{$item.date|date_format:"%d-%m-%Y"}</b><br>{$item.date|date_format:"%H:%M"}</td>
					</tr>
				{/foreach}		
			</table>
			
			{include file="pagination.tpl"}
			
		{else}
			<h2>{'Nothing found'|lang}</h2>
		{/if}
	</div>
	

